{% extends 'base.html.twig' %}

{% block title %}inicio - Blog{% endblock %}

{% block body %}
<div class="container">
        <h1 class='font-bold text-md text-center'>mostrar un item ✅</h1>

    <p>one post</p>

    <div>
        <h3>{{ post.title }}</h3>
        <h3>{{ post.content }}</h3>
    </div>

</div>
{% endblock %}
