{% extends 'base.html.twig' %}

{% block title %}inicio - Blog{% endblock %}

{% block body %}
<div class="example-wrapper">
    <header class='w-full p-3 bg-emerald-400'>
        <h1 class='font-bold text-md text-center'>{{ controller_name }}! ✅</h1>
    </header>

    <p>list posts</p>

</div>
{% endblock %}
