{% extends 'base.html.twig' %}

{% block title %}inicio - Blog{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>list posts</p>

</div>
{% endblock %}
